NEXT_PUBLIC_SUPABASE_URL=https://zwnqwaitgkygvmowwjds.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3bnF3YWl0Z2t5Z3Ztb3d3amRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDIxMDksImV4cCI6MjA5Mjg3ODEwOX0.L2TrlJEYRsdXMglKW0vMvEjmubtwlusO5OHAFfMyH24
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3bnF3YWl0Z2t5Z3Ztb3d3amRzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzMwMjEwOSwiZXhwIjoyMDkyODc4MTA5fQ.t7tkxwvJaliZFhKV7JEBHhU-MW1Ebo5d-4O_sUCZwns
